

.container_card{
    display: flex;
    justify-content: center;
    scale: 80%;
}

.titre_axe{
    font-size: xx-large;
}

.image_site{
    display: block;
    margin-left: auto;
    margin-right: auto;
    scale: 60%;
}

.list_projet{
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    padding-left: 0%;
    justify-content: center;
    margin: 1em;
}

.cover{
    max-width: 400px;
    max-height: 400px;
}